:root {
  --color-primary: #fff;
  --color-text: black;
  --color-shadow: white;
}
body {
  color: var(--color-text);
  background-color: var(--color-primary);
  transition: background-color 0.1s linear;
}
